<h1>New Block Submission</h1>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <!-- newLocation: "",
      newDestination: "",
      additionalReads: 0,-->
  <div>
    <label for="productId">
      Block Id
    </label>
    <input id="productId" type="text" formControlName="productId">
  </div>
  <div>
    <label for="previousLocation">
      Previous Location
    </label>
    <input id="previousLocation" type="text" formControlName="previousLocation">
  </div>
  <div>
    <label for="newDestination">
      New Destination
    </label>
    <input id="newDestination" type="text" formControlName="newDestination">
  </div>
  <div>
    <label for="additionalReads">
      New Read Count
    </label>
    <input id="additionalReads" type="text" formControlName="additionalReads">
  </div>

  <button class="button" type="submit">Submit New Destination</button>

</form>
